* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #626262;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 302px;
  height: 477px;
  border: 1px solid black;
  overflow: hidden;
}

.container__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 25px;
}

.container__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 375px;
}

.container__panel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.container.engineer {
  width: 527px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  overflow: visible;
}

.container.engineer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.container.engineer .container__engineer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__engineer {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 225px;
  height: 375px;
}

.rotate {
  position: absolute;
  top: .5%;
  right: 1%;
  cursor: pointer;
}

.rotate:hover {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.panel__symbol {
  background-color: #fbe3c5;
}

.panel__symbol:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbd19e), to(#fff));
  background: linear-gradient(top, #fbd19e, #fff);
}

.panel__digit {
  background-color: rgba(255, 255, 255, 0.931);
}

.panel__digit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.panel__dot {
  background-color: #fff;
}

.panel__dot:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.panel__clear {
  width: 225px;
  background-color: rgba(255, 255, 255, 0.966);
}

.panel__clear:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.panel__equal:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.panel__engineer {
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.panel__engineer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(top, #ccc, #fff);
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */