* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: rgb(98, 98, 98);
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 302px;
    height: 477px;
    border: 1px solid black;
    overflow: hidden;
    &__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        background-color: #fff;
        font-size: 25px;
    }
    &__panel {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 375px;
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            background-color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    }
    &.engineer {
        width: 527px;
        background: rgb(240, 240, 240);
        border: 1px solid #ccc;
        overflow: visible;
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }

        .container__engineer {
            display: flex;
        }
    }
    &__engineer {
        display: none;
        flex-wrap: wrap;
        width: 225px;
        height: 375px;
    }
}
.rotate {
    position: absolute;
    top: .5%;
    right: 1%;
    cursor: pointer;
    &:hover {
        transform: rotate(120deg);
        transition-duration: .8s;
    }
}
.panel {
    &__symbol {
        background-color: rgb(251, 227, 197); 
        &:hover {
            background:linear-gradient(top, rgb(251, 209, 158), #fff);
        }
    }
    &__digit {
        background-color: rgba(255, 255, 255, 0.931);
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }
    }
    &__dot {
        background-color: #fff;
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }
    }
    &__clear {
        width: 225px;
        background-color: rgba(255, 255, 255, 0.966);
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }
    }
    &__equal {
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }
    }
    &__engineer {
        background: rgb(240, 240, 240);
        border: 1px solid #ccc;
        &:hover {
            background: linear-gradient(top, #ccc, #fff);
        }
    }
}
.group {
    display: flex;
}