$bg: #F5FFC6;
$screen: #B4E1FF;
$symbol: #C1FF9B;
$symbol-hover: linear-gradient(to bottom, #C1FF9B, rgb(255, 224, 47));
$container-border: rgb(0,0,0);
$button-border: rgb(255, 0, 0);
$button: #FFACE4;
$button-hover: linear-gradient(to bottom, #AB87FF, #FFACE4);
$engineer-button: #fa9cda;
$engineer-button-hover: linear-gradient(to bottom, rgb(140, 110, 209), #FFACE4);
$button-clear: #fbc8ea;
$button-clear-hover: linear-gradient(to bottom, #ffd5f1, #fbc8ea);
$active-button: rgb(255, 224, 47);
$button-side: 75px;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: $bg;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 302px;
    height: 477px;
    border: 1px solid $container-border;
    overflow: hidden;
    &__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        background-color: $screen; // screen color
        font-size: 25px;
    }
    &__panel {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 375px;

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $button-side;
            height: $button-side;
            background-color: $button;
            border: 1px solid $button-border;
            cursor: pointer;
        }
    }
    &.engineer {
        width: 527px;
        border: 1px solid $button-border;
        overflow: visible;
        background-color: $engineer-button;
        &:hover {
            background: $engineer-button-hover;
        }
        .container__engineer {
            display: flex;
        }
    }
    &__engineer {
        display: none;
        flex-wrap: wrap;
        width: 225px;
        height: 375px;

    }
}
.rotate {
    position: absolute;
    top: .5%;
    right: 1%;
    cursor: pointer;
    &:hover {
        transform: rotate(120deg);
        transition-duration: .8s;
    }
}
.panel {
    &__symbol {
        background-color: $symbol; 
        &:hover {
            background: $symbol-hover;
        }
    }
    &__equal {
        background-color: $symbol; 
            &:hover {
                background: $symbol-hover;
            }
    }
    &__digit {
        background-color: $button;
        &:hover {
            background: $button-hover;
        }
    }
    &__dot {
        background-color: $symbol;
        &:hover {
            background: $symbol-hover;
        }
    }
    &__clear {
        width: 225px;
        background-color: $button-clear;
        &:hover {
            background: $button-clear-hover;
        }
    }
    &__engineer {
        background: $engineer-button;
        border: 1px solid $button-border;
        &:hover {
            background: $engineer-button-hover;
        }
    }
}
.group {
    display: flex;
}
// .activeOperator {
//     background: $active-button;
// }