* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F5FFC6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 302px;
  height: 477px;
  border: 1px solid black;
  overflow: hidden;
}

.container__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #B4E1FF;
  font-size: 25px;
}

.container__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 375px;
}

.container__panel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background-color: #FFACE4;
  border: 1px solid red;
  cursor: pointer;
}

.container.engineer {
  width: 527px;
  border: 1px solid red;
  overflow: visible;
  background-color: #fa9cda;
}

.container.engineer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#8c6ed1), to(#FFACE4));
  background: linear-gradient(to bottom, #8c6ed1, #FFACE4);
}

.container.engineer .container__engineer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__engineer {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 225px;
  height: 375px;
}

.rotate {
  position: absolute;
  top: .5%;
  right: 1%;
  cursor: pointer;
}

.rotate:hover {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.panel__symbol {
  background-color: #C1FF9B;
}

.panel__symbol:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C1FF9B), to(#ffe02f));
  background: linear-gradient(to bottom, #C1FF9B, #ffe02f);
}

.panel__equal {
  background-color: #C1FF9B;
}

.panel__equal:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C1FF9B), to(#ffe02f));
  background: linear-gradient(to bottom, #C1FF9B, #ffe02f);
}

.panel__digit {
  background-color: #FFACE4;
}

.panel__digit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#AB87FF), to(#FFACE4));
  background: linear-gradient(to bottom, #AB87FF, #FFACE4);
}

.panel__dot {
  background-color: #C1FF9B;
}

.panel__dot:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C1FF9B), to(#ffe02f));
  background: linear-gradient(to bottom, #C1FF9B, #ffe02f);
}

.panel__clear {
  width: 225px;
  background-color: #fbc8ea;
}

.panel__clear:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd5f1), to(#fbc8ea));
  background: linear-gradient(to bottom, #ffd5f1, #fbc8ea);
}

.panel__engineer {
  background: #fa9cda;
  border: 1px solid red;
}

.panel__engineer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#8c6ed1), to(#FFACE4));
  background: linear-gradient(to bottom, #8c6ed1, #FFACE4);
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */