* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(255, 192, 192), rgb(173, 99, 99));
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 4em;
    color: rgb(255, 255, 255);
}